<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nom.edu.starrism.admin.core.mapper.SysDictCategoryMapper">
    <resultMap id="SysDictCategoryResultMap" type="nom.edu.starrism.core.domain.entity.SysDictCategory">
        <!--@mbg.generated-->
        <!--@Table sys_dict_category-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="category_code" jdbcType="VARCHAR" property="categoryCode"/>
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="data_status" jdbcType="INTEGER" property="dataStatus"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>

    <sql id="sys_dict_category_all_columns">
        <!--@sql select -->
        sdc.id,
        sdc.category_code,
        sdc.category_name,
        sdc.sort,
        sdc.data_status,
        sdc.gmt_create,
        sdc.gmt_modify
        <!--@sql from sys_dict_category sdc -->
    </sql>

    <update id="update">
        update sys_dict_category
        <set>
            <if test="categoryCode != null and categoryCode != ''">
                category_code = #{categoryCode,jdbcType=VARCHAR},
            </if>
            <if test="categoryName != null and categoryName != ''">
                category_name = #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="dataStatus != null">
                data_status = #{dataStatus,jdbcType=INTEGER},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="delete" parameterType="long">
        update sys_dict_category
        set data_status = '${@nom.edu.starrism.data.pool.DataPool@DELETE}'
        where id = #{id,jdbcType=BIGINT};
    </update>
</mapper>